   .investor-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px;
    background-color: #0d0d0d;
    color: white;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .input-section, .input-pitch-section{
    width: 90%;
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
    align-items: center;
  }

  #inputpitchtext{
    flex:80;
  }

  #inputpitchtext textarea{
    width: 100%;
    padding: 45px;
    font-size: 18px; 
    border: 2px solid #ff3131;
    border-radius: 10px;
    background-color: #191919;
    color: white;
    box-shadow: 0 6px 15px rgba(255, 65, 108, 0.3);
  }
  
  .business-input, .pitch-input {
    width: 100%;
    padding: 20px; 
    font-size: 18px;
    border: 2px solid #ff3131;
    border-radius: 10px;
    background-color: #191919;
    color: white;
    box-shadow: 0 6px 15px rgba(255, 65, 108, 0.3);
  }
  
  .business-input::placeholder, .pitch-input::placeholder {
    color: #888;
    font-size: 16px;
  }
  
  .ai-pitch-section {
    width: 90%;
    padding: 25px;
    font-size: 20px;
    text-align: left;
    background: #d62828;
    border-radius: 8px;
  }
  
  #InvestorTitleText{
    text-align: center;
    color: white;
    font-size: 2rem;
  }

  .grid-section {
    display: flex;
    justify-content: space-between;
    width: 90%;
    gap: 30px;
  }
  
  .pitch-review, .investor-matching {
    flex: 1;
    padding: 30px; 
    font-size: 20px;
    background: #1a1a1a;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(255, 65, 108, 0.3);
    min-height: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35vw;
  }
  #PitchReviewFlexer{
    display: flex;
    justify-content: center;
    gap:10px;
  }

  @media (max-width: 768px) {
    .investor-input-container {
      padding: 30px;
    }
  
    .input-section,
    .ai-pitch-section,
    .grid-section {
      width: 100%;
    }
  
    .grid-section {
      flex-direction: column;
      gap: 20px;
    }
  }

  .action-buttons{
    display: flex;
    flex-direction: column;
    gap:7px;
  }
  
  .action-buttons button, .input-section button{
    padding: 12px 24px;
    background-color: #ff4b5c;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 10rem;
    box-shadow: 0 6px 15px rgba(255, 65, 108, 0.3);
}

.action-buttons button:hover, .input-section button:hover {
    background-color: #9f2323;
}

.action-buttons button:disabled,.input-section button:disabled {
    background-color: #666;
    cursor: not-allowed;
}
  